@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

html {
    background-color:#E4E4E4;
    font-family: 'Open Sans', serif;
}

.container {
    padding: 10px;
    margin: 0 auto;
    box-shadow: 1px 1px 1px grey;
    background-color: white;
    width: 80%;
}

.encabezado {
    margin: 0 auto;
    box-shadow: 1px 1px 1px grey;
    background-color: white;
    width: 90%;
    padding: 5px;
    text-align: center;
    border: solid 1px grey;
    line-height: 0;
}

.imagen-circular {
    border-radius: 50%;
}

.picture-profile {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: solid 1px grey;
    padding: 5px;
}

.imagen-de-perfil {
    background-color: #E4E4E4;
}

.cuerpo-curriculum {
    margin: 0 auto;
    box-shadow: 1px 1px 1px grey;
    background-color: white;
    width: 90%;
    padding: 5px;
    /*text-align: center;*/
    border: solid 1px grey;
}

.material-symbols-outlined {
   margin: 10px;
   font-size: 65px;
   cursor: default;
   color: grey;
   font-variation-settings:
   'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined:hover {
    margin: 10px;
    font-size: 65px;
    cursor: default;
    color: black;
    font-variation-settings:
    'FILL' 0,
   'wght' 300,
   'GRAD' 0,
   'opsz' 48
 }
 
.iconos-menu-perfil {
    margin-top: 20px;
    padding: 20px;
}

.habilidades .material-symbols-outlined {
    vertical-align: middle;
    margin: 15px;
}

.grupo-misclientes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.mis-clientes img {
    width: 200px;
    height: 200px;
    padding: 10px;
    border: solid thin grey;
    margin: 10px;
}

.mis-clientes img:hover {
    width: 200px;
    height: 200px;
    padding: 10px;
    border: solid thin black;
    box-shadow: 5px 5px 2px grey;
}

.contenedor-mishabilidades {
    margin-left: 20px;
}

.contenedor-about {
    margin-left: 20px;
}

.contenedor-contacto {
    margin-left: 20px;
}

.contenedor-contacto .formulario-contacto input {
    width: 400px;
    height: 30px;
    margin-top: 10px;
}

.contenedor-contacto .formulario-contacto textarea {
    width: 400px;
    height: 200px;
    margin-top: 10px;
}

.contenedor-contacto .formulario-contacto button {
    width: 150px;
    height: 30px;
}


.titulo-seccion {
    text-align: center;
    background-color:#E4E4E4;
    padding: 10px;
}